<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Rails + PubNub LED</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="container">
      <h1>Rails + PubNub LED example</h1>
      <h3 class="subheader">Example on working with LED inside Rails app with PubNub (Real Time Service)</h3>

        <%= yield %>
    </div>
    
  </body>
</html>